@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap");

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

.section_days {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.article_days {
  height: 729px;
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  padding: 19px;
  margin-bottom: 20px;
  width: 800px;
  background-color: rgb(233, 232, 213);
}

label {
  display: flex;
  flex-direction: column;
}

.input-days {
  width: 230px;
  height: 44px;
  background: #d9d8c8;
  outline: none;
  border: none;
  color: #686868;
  box-sizing: border-box;
  border-radius: 10px;
}

button {
  max-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 10px 10px 0px;
  background: #686868;
  color: white;
  opacity: 1;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div {
  display: flex;
  justify-content: center;
}

.form-type {
  display: flex;
  justify-content: center;
}

.container-text {
  width: 453px;
  height: 710px;
  margin-top: auto;
  background: #d9d8c8;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.input-days:focus {
  background-color: white;
}

#video {
  width: 85%;
  background: #d9d8c8;
  box-sizing: border-box;
  border-radius: 10px 0px 0px 10px;
  color: black;
  padding: 10px;
  border: none;
  outline: none;
}

#video:focus {
  background: white;
  transition: 0.3s ease;
}

.form-type {
  height: 57px;
}

h2 {
  color: #686868;
  font-size: 16px;
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
